body {
    cursor: crosshair ;
    background-color: hsl(240, 67%, 13%);
    background-image: url('space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.enemy {
    position: absolute;
    top : 100px;
    right: 765px;
}

.player {
    position: absolute;
    top: 640px;
    right: 765px;
    color: aliceblue;
}

.goal {
    position: absolute;
    top: 300px;
    right: 512px;
    display: none;
}
.start {
    position: absolute;
    cursor: pointer;
    color: beige;
    font-weight: bolder;
    background-color: limegreen;
    padding: 4px 8px;
    border-radius: 10px;
}
.score{
    position: absolute;
    color: #fff;
    top: 8px;
    right: 94%;
    background-color: blueviolet;
    padding: 4px 5px;
    border-radius: 10px;
}